.headerimg{
  width:100px;
  height:auto;
  
}

.headerimg2{
  width:auto;
  height:25px;
  
}

.homeimg{
  width:auto;
  height:200px;
  object-fit: contain;
}


.spacing{
  justify-content: flex-end;
}

.container2 {
  display: flex;
  flex-wrap:wrap;
  
  
}

.imageside {
  box-sizing: border-box;
  padding: 2%;
  margin: 10px;
  width: 100;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}



.font {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 40px;
}




.flex-info img {
  
  width:100%;
  background: url('home1.jpeg') center/cover no-repeat;
  height:400px;
  
}

.font {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 40px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.footer {
  border:10px;
  background:darkblue;
}

.split {
  display: flex;
  flex-direction: column;
  align-content:center;
  margin:100px;
  
}

.imagespace {
  width: 500px;
  height: 350px;
  
  padding: 20px;
  margin: 10px;

}


.container{
  
}

.footer {
  background: darkblue;
  padding: 20px;
}

.footer-split {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px;
}

.footer-item {
  font-weight: bold;
  margin-bottom: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
}

h1{
  font-size: 54px;
  text-transform: uppercase;
  text-align: center;
  color: black;
  font-family: 'Odibee Sans', cursive;
  margin-bottom: 0;
}

#css {
  color: yellow;
  font-family: 'Odibee Sans', cursive;
}

.carousel-wrapper {
  height: 400px;
  position: relative;
  width: 800px;
  display: block;
  margin: 50px auto ;
  border: 2px solid black;
}

.carousel-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  height: 400px;
  opacity: 0;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.arrow{
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 12px;
}
.arrow-prev {
  left: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);

}
.arrow-next {
  right: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

[id^= "item"] {
  display: none;
}
.item-1 {
  z-index: 2;
  opacity: 1;
  background: url('home1.jpeg');
  background-size: contain;
}
.item-2 {
  background: url('header.png');
  background-size: contain;
}
.item-3 {
  background: url('header2.png');
  background-size: contain;
}

*:target ~ .item-1{
  opacity: 0;
}
#item-1:target ~ .item-1 {
  opacity: 1;

}
#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
  z-index: 3;
  opacity: 1;
} 


div[class^='col']{border: 1px solid darkblue;}